/* the styles for the elements */
html {
	background-color: white;
}

/* the styles for the body */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 600px;
	margin: 0px auto 0px auto;
	border: solid 3px #931420;
	background-color: #fffded;
}

/* the styles for the header */
header {
	border-bottom: solid 3px #931420;
}
header img {
	float: left;
}
header h2 {
	font-size: 170%;
	color: #800000;
	text-indent: 30px;
}
header h3 {
	font-size: 130%;
	font-style: italic;
	text-indent: 30px;
}
.shadow {
	text-shadow: 1px 1px #800000;
}
/* the styles for the section */
main {
	clear: left;
}
main h1 {
	font-size: 150%;
	border-top: solid 3px #931420;
	border-bottom: solid 3px #931420;
}
main h2 {
	font-size: 130%;
	color: #800000;
}
main h3 {
	font-size: 105%;
}
main a:hover {
	font-style: italic;
}
/* the styles for the footer */
footer p {
	text-align: center;
	background-color: #931420;
	color: white;
}